.rev_slider_wrapper {
    overflow: hidden
}

.marquee-head.action-area.marquee {
    height: 40px;
    overflow: hidden;
    background-color: #4582ff;
}

.marquee-head.action-area,
.marquee-head.action-area.marquee {
    height: auto;
    vertical-align: middle
}

.marquee-head.action-area ul li,
.marquee-head.action-area.marquee ul li {
    display: inline-block;
    margin: 0 20px 0 0
}

.marquee-head.action-area ul li a,
.marquee-head.action-area.marquee ul li a {
    padding: 4px 0 4px 30px
}

.action-area.marquee ul,
.action-area.marquee1 ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.action-area.marquee ul li,
.action-area.marquee1 ul li {
    margin-bottom: 10px
}

.action-area.marquee ul li a,
.action-area.marquee1 ul li a {
    padding: 4px 0 0 30px;
    display: block;
    color: #000000;
    line-height: 30px;
    font-size: 14px;
    text-decoration: underline;
    position: relative
}

.action-area.marquee ul li a:hover,
.action-area.marquee1 ul li a:hover {
    color: #fea116;
    font-weight: 600;
}

.action-area.marquee ul li a:after,
.action-area.marquee1 ul li a:after {
    content: "\f0f3";
    font-family: "Font Awesome 5 Pro";
    color: #fea116;
    position: absolute;
    left: 0;
    font-size: 20px;
    top: 5px;
}

.topbar-area {
    /* background: #4c92be; */
    background: #123e69;
    font-size: 15px;
    line-height: 28px;
}

.notification-section {
    position: relative;
    background: url('../images/category-bg.png');
    background-size: contain;
}

.notification-section .bg-row {

    /* border-bottom: 1px solid #d9d9d9;
padding: 0px 0 56px; */
    background: url('../images/placement-inner-bg.png') center right no-repeat;
    background-size: cover;
    border: 1px solid #123e69;
    border-radius: 10px;
}

/*.action-box {
background: #fff;
border-radius: 4px;
box-shadow: 5px 5px 40px 0 rgba(0,0,0,.05);
height: 100%;
}
.action-box .head {
background: #2e3192;
color: #fff;
padding: 15px 20px;
border-radius: 4px 4px 0 0;
}
.action-box .head .title {
color: #fff;
font-size: 22px;
font-weight: 500;
margin-bottom: 0;
}
.action-box .action-area {
padding: 20px 20px;
} */
.marquee1 {
    height: 225px;
    overflow: hidden;
    margin-top: 20px;
}

.event-bx {
    margin: 0;
    padding: 0;
    list-style: none;
}

.event-bx li {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.event-bx li:last-child {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.event-bx li a {
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #666;
    padding: 0 0 0 40px;
    display: block;
    font-family: Roboto;
    position: relative;
}

.event-bx li a:after {
    content: "\f124";
    font-family: "Font Awesome 5 Pro";
    color: #4582ff;
    position: absolute;
    left: 4px;
    top: 10px;
    font-size: 24px;
}

@media only screen and (max-width: 768px) {
    .bg-row {
        background: rgba(214, 239, 255, 0.3) !important;
    }

    .notification-banner {
        border-radius: 10px 10px 0 0;
    }

    #award-carousel .owl-nav {
        display: none;
    }

}

.btn-sm {
    padding: 0.25rem 0.5rem !important;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.numbers-row {
    background: #f2f2f2;
    border-radius: 10px;
}

.numbers-row .col-md-4 {
    position: relative;
    border-radius: 10px 0px 0px 10px;
    background: #123e69;
    font-size: 16px;
    z-index: 1;
}

.numbers-row .col-md-8 {
    border-radius: 0 10px 10px 0;
}

.numbers-row .col-md-4::before {
    content: "";
    position: absolute;
    left: 100%;
    border-style: solid;
    border-width: 70px 0px 70px 50px;
    border-color: transparent #123e69 transparent;
    z-index: -1;
}

.numbers-row .col-md-4 .badge-img {
    width: 220px;
    margin: -25px 0px;
}

.numbers-row .col-md-8 .col-md-3:nth-child(n+2) {
    border-left: 2px solid var(--gray);
}

@media (min-width: 1300px) {
    .numbers-row .col-md-4 {
        display: flex !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .location-card a, .location-direction a {
        font-size: 10px !important;
}}
@media screen and (min-width: 991px) and (max-width: 1199px) {
    .numbers-row .col-md-4 .badge-img {
        width: 150px;
        margin-top: -50px;
        margin-bottom: 15px;
    }
    .numbers-row .col-md-4::before {
        content: "";
        position: absolute;
        left: 100%;
        border-style: solid;
        border-width: 102px 0px 70px 50px;
        border-color: transparent #123e69 transparent;
        z-index: -1;
    }
}

@media (max-width: 991px) {
    .numbers-row .col-md-4 .badge-img {
        width: 120px;
        margin-top: -50px;
        margin-bottom: 15px;
    }

    .numbers-row .col-md-4::before {
        display: none;
    }
    .registration-form{
        background: transparent !important;
        box-shadow: none !important;
    }
    .registration-form .form-banner  {
        background: none !important;
    }
    .registration-form .form-banner {
        padding-bottom: 0 !important;
    }
    .registration-form .form-banner .form-banner-head h3{
        color: #123e69;
        text-align: center;
        font-size: large;
    }
}

@media only screen and (max-width: 768px) {
    .numbers-row {
        width: 95%;
        margin: auto;
        margin-top: 1rem;
    }

    .numbers-row .col-md-4 {
        border-radius: 10px 10px 0px 0px;
    }

    .numbers-row .col-md-4 .badge-img {
        width: 120px;
        margin-top: -50px;
        margin-bottom: 15px;
    }

    .numbers-row .col-md-8 .col-md-3:nth-child(2n-1) {
        border-right: 1px solid #c1c1c1;
        border-left: none;
    }

    .numbers-row .col-md-8 .col-md-3:nth-child(n+2) {
        border: none;
    }

    .numbers-row .col-md-8 .col-md-3:nth-child(n+3) {
        border-top: 1px solid var(--gray);
    }


}

.divider-line-3 {
    width: 20%;
    background: #f39113;
    height: 4px;
    margin: 0 auto;
}

.service-box {
    position: relative;
    text-align: center;
    margin: 10px 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .1);
    border-radius: 8px;
    border: 2px solid #203154;
}

.service-box span {
    position: relative;
    display: block;
    font-size: 130px;
    line-height: 1;
    font-weight: 600;
    color: #ececfe;
    opacity: .6;
    z-index: 9;
    margin-bottom: -80px;
}

.service-box img {
    position: relative;
    width: 64px;
    z-index: 99;
}

.service-box h4 {
    font-size: 16px;
    color: #222;
    font-weight: 600;
    margin-top: 20px;
}

.service-box p {
    font-size: 14px;
    color: #999;
    line-height: 1.7;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 0;
}

.fa-ul {
    list-style-type: none;
    margin-left: var(--fa-li-margin, 2.5em);
    padding-left: 0;
}

.fa-ul>li {
    position: relative;
}

.fa-li {
    left: calc(var(--fa-li-width, 2em)*-1);
    position: absolute;
    text-align: center;
    width: var(--fa-li-width, 2em);
    line-height: inherit;
}

.registration-form {
    background: linear-gradient(180deg, rgba(141, 188, 218, 0.2) 0%, rgba(85, 172, 238, 0.2) 50.86%, rgba(235, 246, 255, 0.2) 100%);
    border-radius: 10px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    padding-inline: 0.7rem;
}

.registration-form .form-banner {
    background: url('../images/form-header.png') no-repeat center;
    background-size: cover;
    border-radius: 0.45rem 0.45rem 0px 0px;
    padding: 1rem;
}
.registration-form .form-banner .form-banner-head{
    color: #fff;
}
.training-centers {
    background: url('images/location-bg.jpg') no-repeat center;
    background-size: cover;
}

.location-card {
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    border: 2px solid #123e69;
    transition: all .5s ease-out;

}

.location-card:hover {
    background: #123e69;
    color: #fff;
}

.location-card:hover .location-card-footer h6 {
    color: #fff;
}

.location-card:hover a,
.location-direction a {
    color: #fff;
}

.location-card .location-img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.location-card .location-card-footer {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.location-card .location-card-footer h6 {
    font-size: 16px;
    color: #123e69;
}

.location-card .location-card-footer h6 i {
    color: #f39113;
}

.location-card a,
.location-direction a {
    font-size: 12px;
    color: #123e69;
    text-decoration: underline;
}

.location-card a i,
.location-direction a i {
    color: #f39113;
}

.location-card .location-link {
    position: absolute;
    top: 0%;
    left: 0%;
    background: rgba(46, 49, 146, 0.3);
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 8px;
}

.location-card:hover .location-link {
    display: flex;
}

.award-block {
    border-radius: 8px;
    border: 1px solid #123e69;
}

.award-block img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.award-block-footer {
    background-color: #123e69;
    color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.search-box {
    background: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin: 20px 0 0;
    padding: 20px;
}

      .placement-support-section .owl-item>div {
        cursor: pointer;
        margin: 6% 8%;
        transition: margin 0.4s ease;
      }

      .placement-support-section .owl-item.center>div {
        cursor: auto;
        margin: 0;
      }

      .placement-support-section .owl-item:not(.center)>div:hover {
        opacity: .75;
      }

      .placement-support-section .owl-nav div {
        position: absolute;
        color: #FFF;
        display: inline-block;
        zoom: 1;
        margin: 5px;
        padding: 3px 10px;
        font-size: 12px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        background: #123e69;
        opacity: 0.8;
        cursor: pointer;
      }

      .placement-support-section .owl-nav .owl-prev {
        left: -45px;
        top: 110px;
      }

      .placement-support-section .owl-nav .owl-next {
        right: -45px;
        top: 110px;
      }
      .btn-location {
        background-color: #123e69;
        border-color: #123e69;
        color: #ffff;
    }

    .btn-location:hover {
        background-color: #fdc800 !important;
        border-color: #fdc800 !important;
        color: #ffff;
    }
    .bg-soft-primary {
background-color: #f1f5fd!important;
}
.rounded {
border-radius: 0.4rem!important;
}
.gallery-card {
    color: #252a32;
    border-radius: 2px;
    background: #ffffff;
    margin-bottom: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}

.gallery-card-image {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 70%;
    background: #ffffff;
}

.gallery-card-image img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.widget-area .search-widget {
background: #fff;
padding: 40px 30px;
box-shadow: 0 6px 25px rgba(0,0,0,.07);
border-radius: 10px;
margin-bottom: 50px;
}
.widget-area .widget-title {
color: #111;
font-size: 20px;
line-height: 26px;
font-weight: 600;
position: relative;
z-index: 1;
padding-bottom: 12px;
}
.widget-area .widget-title:before {
content: "";
position: absolute;
border: 0;
width: 50px;
height: 2px;
background: #f39113;
z-index: 1;
margin-left: 0;
bottom: 0;
left: 0;
}
.widget-area .search-widget .search-wrap {
position: relative;
}
.widget-area .search-widget .search-wrap [type=search] {
border: 1px solid #ddd;
color: #444;
padding: 12px 17px;
width: 100%;
border-radius: 5px;
position: relative;
}
.widget-area .search-widget .search-wrap button {
background: transparent;
border: none;
color: #505050;
padding: 11px 15px 12px;
position: absolute;
display: block;
right: 0;
top: 0;
z-index: 10;
font-size: 20px;
border-radius: 0 5px 5px;
}
.search-input:focus-visible{
outline: none;
}
.widget-area .widget-archives {
background: #fff;
padding: 40px 30px;
box-shadow: 0 6px 25px rgba(0,0,0,.07);
margin-bottom: 50px;
}
.filter-widget {
position: relative;
}
.filter-form {
position: relative;
}
.filter-widget h5 {
position: relative;
padding: 12px 25px 12px 0;
font-size: 16px;
font-weight: 600;
color: #03382e;
display: block;
border-bottom: 1px solid #f0f5fb;
}
.filter-form .radio-box {
position: relative;
margin-left: 25px;
margin-bottom: 12px;
}
.filter-form .radio-box input[type=radio] {
display: none;
}
.filter-form .radio-box input[type=radio]:checked+label {
border-color: #f39113;
}
.filter-form .radio-box label {
position: relative;
display: block;
width: 100%;
line-height: 1;
padding-left: 25px;
cursor: pointer;
margin-bottom: 0;
transition: all .3s ease;
}
.filter-form .radio-box input[type=radio]:checked+label:before {
border: 5px solid #f39113;
background: #fff;
}
.filter-form .radio-box label:before {
position: absolute;
left: 0;
top: 3px;
height: 10px;
width: 10px;
background: #b6b6b6;
content: "";
border-radius: 50px;
transition: all .3s ease;
border: 1px solid transparent;
}
.filter-widget h5 {
position: relative;
padding: 12px 25px 12px 0;
font-size: 16px;
font-weight: 600;
color: #03382e;
display: block;
border-bottom: 1px solid #f0f5fb;
}
.filter-form .check-box {
margin-left: 25px;
margin-bottom: 12px;
}
.filter-form .check-box label {
padding-left: 10px;
line-height: 1;
}
.mb-30{
margin-bottom: 30px;
}
.widget-archives .categories {
margin-left: 25px;
list-style: none;
padding: 0;
}
.widget-archives .categories li {
border: none;
position: relative;
padding: 6px 0 6px 14px;
margin: 0;
font-size: 16px;
}
.categories li a {
color: #505050;
}
.categories li a:after {
content: "\f054";
font-family: "Font Awesome 5 Pro";
font-weight: 900;
font-style: normal;
text-decoration: inherit;
position: absolute;
left: 0;
top: 6px;
color: #f39113;
}
.course-search-part {
background-color: #fff;
border: 1px solid hsla(0,0%,87.8%,.5490196078431373);
margin-bottom: 30px;
padding: 15px 30px;
display: inline-flex;
width: 100%;
}
.course-view-part {
display: flex;
align-items: center;
float: left;
width: 90%;
}
.course-view-part .view-icons {
float: left;
margin-right: 20px;
line-height: 1;
}
.course-search-part .course-view-part .view-icons button.view-grid {
color: #123e69;
opacity: 1;
}
.view-icons button {
color: #505050;
font-size: 20px;
opacity: .7;
background: unset;
border: none;
}
.course-search-part .type-form {
position: relative;
float: right;
}
.custom-select-box {
position: relative;
}
.custom-select-box:before {
font-family: "Font Awesome 5 Pro";
content: "\f107";
position: absolute;
right: 15px;
top: 50%;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
display: block;
color: #fff;
font-size: 16px;
line-height: 1;
}

.course-search-part .type-form select {
display: block;
width: 100%;
min-width: 125px;
height: 40px;
line-height: 40px;
font-size: 14px;
font-weight: 500;
color: #fff;
padding: 0 40px 0 20px;
background: #123e69;
border: none;
border-radius: 4px;
-webkit-appearance: none;
-moz-appearance: none;
transition: all .3s ease;
cursor: pointer;
}
.pagination-area .pagination-part {
display: inline-block;
padding: 0 5px 0 10px;
height: 60px;
line-height: 60px;
box-shadow: 0 8px 26px 0 rgba(0,0,0,.1);
}
.pagination-area .pagination-part li {
position: relative;
display: inline-block;
padding: 0 20px 0 15px;
text-align: center;
cursor: pointer;
}
.pagination-part li {
padding: 2px 20px 0 21px;
line-height: 23px;
font-size: 18px;
text-decoration: none;
transition: all .4s ease-in-out 0s;
text-align: center;
background: 0 0;
color: #000;
display: inline-block;
}
.pagination-area .pagination-part li i {
margin-left: 10px;
}
.pagination-part li:last-child {
border-right: unset;
}
.mt-30{
margin-top: 30px;
}
.pagination-area .pagination-part li a{
color: #123e69;
}
.clint-testmonial-box {
    box-shadow: 0 3px 10px rgba(0, 22, 50, 0.06);
    border-radius: 8px;
    border: 1px solid #123e69;
  }