.landing-pages {
  display: none;
}
.sale-strip {
    position: fixed !important;
    bottom: -2px;
    left: 0;
    width: 100%;
    z-index: 90;
}
.landing-pages {
  bottom: 20px;
}
.landing-pages a{
  box-shadow: rgb(0 0 0 / 54%) 0px 5px 15px 0px;
  width: 30%;
}
.home-navbar {
  border-bottom: 1px solid #e8ebed;
  box-shadow: 0 5px 40px rgba(179, 188, 195, 0.2);
  z-index: 9;
}
.home-navbar .navbar {
  padding-left: 90px;
  padding-right: 90px;
}
.fixed-main-header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  display: block;
}
.sub-menu:hover,
.sub-menu.active {
  color: #f8f9fd;
  background-color: #203154 !important;
}
.sub-menu:hover .arrow-right i,
.sub-menu.active .arrow-right i {
  transform: translateX(7px);
}
.arrow-right i {
  transition: all 0.3s;
}
.sub-menu {
  padding: 15px 15px;
}
#jaipur {
  display: none;
}
.nav-tabs-button {
  min-width: 200px;
}
@-webkit-keyframes fadeInDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInDownMenu {
  0% {
    -webkit-transform: translateY(-78px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInDownMenu {
  0% {
    -ms-transform: translateY(-78px);
    transform: translateY(-78px);
  }
  100% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.ws-main-menu li .nav-link {
  font-weight: 600;
  padding: 1.6rem 0.25rem !important;
}
.ws-main-menu li .main-mega-menu {
  visibility: hidden;
  top:110px;
  max-width: 1325px;
  box-shadow: 0 5px 40px rgb(179 188 195 / 20%);
  z-index: 99;
  opacity: 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transition: -o-transform 0.2s, opacity 0.2s;
  -ms-transition: -ms-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: rotateX(-75deg);
  -o-transform: rotateX(-75deg);
  -moz-transform: rotateX(-75deg);
  -webkit-transform: rotateX(-75deg);
}
.ws-main-menu li:hover .main-mega-menu {
  opacity: 1;
  visibility: visible;
  transform: rotateX(0);
  -o-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -webkit-transform: rotateX(0);
}
.ws-main-menu .mega-menu-list .list-heading {
  position: relative;
}
.ws-main-menu .mega-menu-list .list-heading::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 3px;
  content: '';
  z-index: 5;
  background-color: #203154;
}
.ws-main-menu .mega-menu-list ul {
  padding-left: 0.5rem !important;
}
.ws-main-menu .mega-menu-list a {
  text-decoration: none;
  color: #43505b !important;
  font-size: 16px;
  padding: 0 !important;
  transition: 0.2s;
}
.ws-main-menu .mega-menu-list a:hover {
  color: #203154 !important;
}
.ws-main-menu .mega-menu-list li {
  margin: 0.5rem 0;
}
.large-list li {
  display: inline-block;
  width: 45%;
  margin: 0.2rem 1rem 0.2rem 0 !important;
}
.small-menu {
  width: max-content;
  left: unset !important;
  right: unset !important;
  min-width: 160px;
}
.ws-main-menu .small-menu .mega-menu-list li a {
  padding: 0.5rem 1.5rem !important;
  display: block;
  transition: 0.2s;
}
.ws-main-menu .small-menu .mega-menu-list li a:hover {
  background-color: #f8f9fd !important;
}
.ws-main-menu .small-menu .mega-menu-list ul {
  padding-left: 0 !important;
}
.ws-main-menu .small-menu .mega-menu-list ul li {
  margin: 0 !important;
}
.needs-validation .form-control,
.needs-validation .form-select:invalid {
  background-image: unset !important;
}
.get-quote-modal .blue-btn {
  max-width: 300px;
}
.get-quote-modal .form-control {
  border-radius: 3px !important;
  min-height: 40px;
}
.footer-newsletter .invalid-feedback {
  bottom: -1.7rem;
  left: 1rem;
}
.iti {
  width: 100%;
}
.iti__country {
  white-space: normal;
}
.get-quote-modal input::-webkit-inner-spin-button,
.get-quote-modal input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quoteForm.was-validated .invalid-mobile-number {
  display: block !important;
}
@media (max-width: 1450px) {
  .home-navbar .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 1299px) {
  .home-navbar .blue-btn,
  .home-navbar .gray-outline-btn {
    padding: 6px 10px !important;
    font-size: 14px !important;
  }
  .ws-main-menu li .nav-link {
    font-size: 15px !important;
  }
  .home-navbar .gray-outline-btn {
    margin-right: 5px !important;
  }
}
.header-section {
  z-index: 100;
}
.backToTop {
  background-color: #f39113;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  bottom: 3rem;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  cursor: pointer;
}
.backToTop:hover {
  background-color: #333;
}
.backToTop:active {
  background-color: #555;
}
.backToTop.show {
  opacity: 1;
  visibility: visible;
}
/*.sale-strip {
  background-color: #001c34;
}
.landing-pages {
  background-color: none; 
}*/
.stripTimer {
  font-size: 20px;
  width: 200px;
  background: url('../images/spotlight-heading-bg.svg') bottom center/100% 42% no-repeat;
}

@media (max-width: 991px) {
  .home-navbar {
    border-bottom: 1px solid #e8ebed;
    box-shadow: 0 5px 40px rgba(179, 188, 195, 0.2);
  }
  .home-navbar .navbar {
    padding-left: 5px;
    padding-right: 5px;
  }
  .home-navbar .navbar-collapse {
    position: fixed;
    top: 93.5px;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #fff;
    z-index: 99;
    padding: 0 !important;
  }
  .nav-tabs-button {
    border-right: none !important;
    /* border-bottom: 1px solid #dee2e6; */
  }
  #jodhpur {
    display: none;
  }
  .home-navbar .navbar-collapse.collapsing {
    left: -75%;
    transition: height;
  }
  .home-navbar .navbar-collapse.show {
    left: 0;
    transition: left 0.3s ease-in-out;
  }
  .home-navbar .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 0.5s ease-in-out;
  }
  .ws-main-menu li .nav-link {
    padding: 0.5rem 0.25rem !important;
  }
  .small-menu,
  .ws-main-menu li .main-mega-menu {
    max-height: 100%;
    left: 0 !important;
    top: unset !important;
    right: unset !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    max-width: 300px !important;
    overflow-x: hidden;
  }

  .home-navbar .navbar-nav {
    padding: 1rem 1rem 5.5rem !important;
    height: 100% !important;
    overflow-y: auto !important;
  }
  .mega-menu-list p {
    font-size: 16px !important;
  }
  .ws-main-menu .mega-menu-list a {
    font-size: 14px !important;
  }
  .ws-main-menu li:hover .main-mega-menu,
  .ws-main-menu li:hover .small-menu {
    position: relative !important;
    width: 100%;
  }
  .ws-main-menu .small-menu .mega-menu-list li a {
    padding: 0.5rem !important;
  }
  .home-navbar .navbar-toggler[aria-expanded='true'] .open-icon {
    display: none !important;
  }
  .home-navbar .navbar-toggler[aria-expanded='true'] .close-icon {
    display: block !important;
  }
  .home-navbar .navbar-collapse.show ~ .menu-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 98;
    display: flex !important;
    top:93.5px;
    backdrop-filter: blur(3px);
  }
  .header-behind {
    z-index: 98 !important;
  }
  .sale-strip {
    position: fixed !important;
    bottom: -2px;
    left: 0;
    width: 100%;
    z-index: 90;
  }
  .sale-close {
    display: block !important;
    right: 1rem;
  }
  .stripTimer {
    position: unset !important;
    font-size: 14px !important;
    width: 150px;
    margin: 0 auto 0.5rem !important;
    padding: 0 !important;
    background: url('../images/spotlight-heading-bg.svg') bottom center/100% 40% no-repeat;
  }
  .sale-strip p {
    margin-left: 0 !important;
    font-size: 12px !important;
  }
  .sale-strip a {
    margin-top: 8px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    text-transform: capitalize !important;
  }
  .landing-pages a{
    width: 80%;
  }
}
@media (max-width: 430px) {
  .home-navbar .navbar-collapse {

    top: 121.5px;

  }
  .home-navbar .navbar-collapse.show ~ .menu-backdrop {
    top: 121.5px;
  }
}